* {
	padding: 0px;
	margin: 0px;
}
body {
	font-family: Helvetica,Arial,sans-serif;
}

/*// menu*/


.brand {
	border: 0px solid #000;
	background-color: #000;
	height: 55px;
	padding: 0px;
	margin: 0px;
}


.brand-1 a img {
	height: 53px;
}


.brand-2 {
	height: 55px;
}



button {
	font: 14px/18px Helvetica,Arial,'DejaVu Sans','Liberation Sans',sans-serif;
	color: #333;
	outline: none;
	zoom: 1;
}

.topinput {
	float: left;
	border: 0;
	position: relative;
	background: #fff;
	height: 32px;
	font-size: 13px;
	width:  100px;
	border-radius: 2px;
}

.search-form {
	margin-top: 10px;
	padding: 0px;
}

.btntop {
	float: right;
	border: none;
	background: #fff;
	color: black;
	border-radius: 2px;
}

.search-form input {
	width: 246px;
}
